
/*################*/
/*#              #*/
/*#  Standards   #*/
/*#              #*/
/*################*/

h1 {
  font-size: 2em;
}

p {
  font-size: 1.0em;
}


/*################*/
/*#              #*/
/*#  MAIN RENDER #*/
/*#  PAGE FRAME  #*/
/*#              #*/
/*################*/

.App {
  text-align: center;
  margin: 5px;
  background-color: rgba( 0,0,250, .3);
  border: 3px solid rgba(0,0,250, .3) ;
}

.App-title {
  font-size: 1.5em;
  margin: 5px;
  background-color: rgba(0,0,100,.3);
  border: 3px solid rgba(0,0,100,.3) ;
}




/*################*/
/*#              #*/
/*#  PAGES       #*/
/*#              #*/
/*################*/

.beerForm {
  height: 500px;
  margin: 10px;
  padding: 5px;
  background-color: rgba(0,100,000,.3);
  border: 3px solid rgba(0,100,00,.3) ;
}

.beersList {
  height: 500px;
  margin: 10px;
  background-color: rgba(100,00,000,.3);
  border: 3px solid rgba(100,00,00,.3) ;
}

.home {
  height: 500px;
  margin: 0px;
  background-color: rgba(000,100,100,.3);
  border: 3px solid rgba(000,100,100,.3);
}

/*################*/
/*#              #*/
/*#  COMPONENTS  #*/
/*#              #*/
/*################*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


.header {
  margin: 5px;
  background-color: rgba(200,200,000,.3);
  border: 3px solid rgba(200,200,00,.3);
}


.footer {
  margin: 0px;
  background-color: rgba(200,100,000,.3);
  border: 3px solid rgba(200,100,00,.3) ;
}


.filter {
/*  width: 100px;
  height: 20px;*/
  margin: 10px;
  background-color: rgba(200,00,000,.3);
  border: 3px solid rgba(200,00,00,.3) ;
}


.nav {
  width: 100px;
  /*height: 30px;*/
  margin: 5px;
  padding: 8px 0px;
  background-color: rgba(000,200,100,.3);
  border: 3px solid rgba(000,200,100,.3);
}

.nav:hover {
  background-color: white;
}


.singleNav {
  width: 75px;
  height: 30px;
  margin: 5px;
  background-color: rgba(000,000,255,.3);
  border: 3px solid rgba(000,000,255,.3) ;
}

.singleNav:hover {
  background-color: white;
}


.singleBeer {
  width: 150px;
  height: 75px;
  margin: 5px;
  background-color: rgba(000,200,200,.3);
  border: 3px solid rgba(000,200,200,.3);
}

.singleBeer:hover {
  background-color: white;
}


