
/*################*/
/*#              #*/
/*#  Standards   #*/
/*#              #*/
/*################*/

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
  line-height: 150%;
}

p {
  font-size: 1.0em;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

i {
font-style: italic;
}


/*################*/
/*#              #*/
/*#  MAIN RENDER #*/
/*#  PAGE FRAME  #*/
/*#              #*/
/*################*/

.App {
  text-align: center;
  margin: 0px;
  background-color: rgba( 0,0,250, .3);
  border: 0px solid rgba(0,0,250, .0) ;
  background-image: url("https://i.imgur.com/PnBgPGa.jpg");
  background-repeat: no-repeat;
  background-size: cover;



}



/*################*/
/*#              #*/
/*#  PAGES       #*/
/*#              #*/
/*################*/

.beerForm {
  color: white;
  min-height: 300px;
  max-width: 700px;
  margin: 10px auto;
  padding: 5px;
  background-color: rgba(98, 98, 80, 0.7);
  border: 0px solid rgba(0,100,00,.3) ;
  border-radius: 10px;
  text-shadow: 0px 0px 3px grey, 0 0 10px black, 0 0 20px white;
}

.beersList {
  color: white;
  min-height: 300px;
  margin: 20px;
  background-color: rgba(98, 98, 80, 0.52);
  border: 0px solid rgba(100,00,00,.3) ;
  border-radius: 10px;

}

.home {
  min-height: 500px;
  min-width: 200px;
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 0px 0px 3px grey, 0 0 10px black, 0 0 20px white;
  background-color: rgba(98, 98, 80, .8);
  border: 0px solid rgba(000,100,100,.3);
  border-radius: 10px;

  color: white;

}

/*################*/
/*#              #*/
/*#  COMPONENTS  #*/
/*#              #*/
/*################*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


.header {
  margin: 0px;
  background-color: rgba(200,200,000,.0);
  border: 0px solid rgba(200,200,00,.0);
  display: flex;
}

.App-title {
  max-width: 400px;
  font-size: 40px;
  padding: 5px;
  margin: 5px auto;
  background-color: rgba(56,25,8,.6);
  border-radius: 10px;
  border: 3px solid rgba(56,25,8, 1) ;
  color: rgba( 240, 240, 250, 1);
  text-shadow: 0px 0px 3px grey, 0 0 10px black, 0 0 17px white;
}

.center {
align-content: center;
width: 50%;

}

.left {
width: 25%;
}

.right {
width: 25%;
float: right;
}

button {
  margin: auto;
  color: white;
  background-color: rgba(126, 089, 022, .7);
  border-radius: 5px;
}

button:hover {
  background-color: rgba(182, 130, 32, 1);
}

.login, .userName {
  padding-top: 10px;
  margin: 0 5px;
  height: 50px;
}



.footer {
  margin: 0px auto;
  width: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(56,25,8, .8);
  border: 3px solid rgba(56,25,8, 1) ;
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 3px grey, 0 0 10px black, 0 0 17px white;
}


.filter {
/*  width: 100px;
  height: 20px;*/
  margin: 0px ;
  padding: 10px 0 0 0;
  background-color: rgba(200,00,000,.0);
  border: 3px solid rgba(200,00,00,.0) ;
}

select  {
    margin: 0px;
    background: rgba(00, 0, 100, 0.3);
    color: white;
    text-shadow: 0 1px 0 rgba(0, 00, 100, 0.3);
}


select option {
  background-color: black;
}

.nav {
  color: white;
  min-width: 60px;
  /*height: 30px;*/
  margin: 5px;
  padding: 2px 2px;
  background-color: rgba(126, 089, 022, .7);
  border: 3px solid rgba(69, 49, 12, 0.5);
  border-radius: 7px;
}

.nav:hover {
  background-color: rgba(182, 130, 32, 1);
}

.active {
 background-color: rgba( 69, 49, 12, 01);
 border: 3px solid rgba(182, 130, 32, 1);
}

.singleNav {
  color: white;
  min-width: 60px;
  /*height: 30px;*/
  margin: 5px;
  padding: 2px 2px;
  background-color: rgba(126, 089, 022, .7);
  border: 3px solid rgba(69, 49, 12, 0.5);
  border-radius: 7px;
}

.singleNav:hover {
  background-color: rgba(182, 130, 32, 1);
}


.singleBeer {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 3px black, 0 0 6px black, 0 0 5px darkgrey;
  text-decoration: none;
  background-image: url("https://i.imgur.com/JTSxG6Y.png?3");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 121px;
  height: 130px;
  margin: auto;
  /*background-color: rgba(000,200,200,.3);*/
  border: 0px solid rgba(000,200,200,.3);
  border-radius: 10px;
  padding-top: 30px;
  z-index: 4;
}

.singleBeer:hover {
  background-color: darkgrey;

}

.addBeer {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 3px black, 0 0 6px black, 0 0 5px darkgrey;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 121px;
  height: 120px;
  margin: auto;
  /*background-color: rgba(000,200,200,.3);*/
  border: 3px solid rgba(182, 130, 32, .5);
  border-radius: 10px;
  padding-top: 40px;
  z-index: 4;
}

.addBeer:hover {
  background-color: grey;
}

input {

}

